@font-face {
    font-family: fuente;
    src: url('/html/font/digital-7.ttf');
}

body {
    width: 100%;
    overflow: hidden;
    min-width:100%;
    text-align: center;
    right: 1vh;
}

#todo {
    position: absolute;
    bottom: 5vh;
}

#velocidad {
    font-family: fuente;
    text-align: center;    
    font-size: 60px;
    color: black;
    height: 100px;
    margin-top: 920px;
    background-color: rgba(231, 227, 227, 0.884);
    height: 70px;
    width: 200px;
    margin-left: 838px;
    box-shadow: rgba(228, 226, 226, 0.2);
    border-radius: 15px;
}

.km {
    margin-left: 985px;
    top: 955px;
    font-family: fuente;
}

#fuel {
    background-color: rgba(238, 139, 10, 0.979);
    margin-top: 20px;
    margin-left: 838.5px;
    width: 10%;
    text-align: center;
    color: rgba(0, 0, 0, 0.0);
    border-radius: 20px;
}

.cont {
    font-family: fuente;
    text-align: center;    
    font-size: 20px;
    margin-top: 10px;
    background-color: rgba(231, 227, 227, 0.884);
    width: 40px;
    margin-left: 917px;
    box-shadow: rgba(228, 226, 226, 0.2);
    border-radius: 20px;
}

#rpm {
    
    font-family: fuente;
    text-align: center;    
    font-size: 15px;
    margin-top: 10px;
    background-color: rgba(231, 227, 227, 0.884);
    width: 40px;
    margin-left: 860px;
    box-shadow: rgba(228, 226, 226, 0.2);
    border-radius: 20px;
}

#vida {
    font-family: fuente;
    text-align: center;    
    font-size: 14.8px;
    margin-top: 10px;
    background-color: rgba(231, 227, 227, 0.884);
    width: 40px;
    margin-left: 974px;
    box-shadow: rgba(228, 226, 226, 0.2);
    border-radius: 20px;
    opacity: 0.5;
}

@keyframes anim {
    from {opacity: 0;}
    to {opacity: 1;}
}

#todo {
    animation-name: anim;
    animation-duration: 3s;
}
